*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
}
header{
  padding-top: 20px;
  border-bottom: 1px solid gray;
}
.top-header{
  width: 97%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.title-logo{
  align-items: flex-end;
}
.title-logo h1{
  display: inline-block;
  font-weight: 300;
  color: gray;
  font-size: 25px;
  margin-left: 5px;
}
.menu{
  line-height: 45px;
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
.option-user{
  background-color: green;
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  margin-left: 10px;
}
.menu i {
  font-size: 22px;
}
.bottom-header{
  width: 97%;
  margin: auto;
}
.bottom-header ul{
  display: flex;
  list-style: none;
}
ul li{
  margin-right: 40px;
  cursor: pointer;
  padding-bottom: 10px;
}
ul li a{
  text-decoration: none;
  color: gray;
  padding-bottom: 10px;
}
a.active{
  color: cornflowerblue;
}
li.active{
  border-bottom: 3px solid cornflowerblue;
}